In [67]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [68]:
data_raw = pd.read_csv('./data.csv')
data_raw.head()

    outlook Temperature Humidity    wind played football(yes/no)
0     sunny         hot     high    weak                      no
1     sunny         hot     high  strong                      no
2  overcast         hot     high    weak                     yes
3      rain        mild     high    weak                     yes
4      rain        cool   normal    weak                     yes

In [69]:
data = data_raw.copy()

In [70]:
data['Temperature']=data['Temperature'].replace(['hot','mild','cool'],[1,0,-1])
data['outlook']=data['outlook'].replace(['sunny','overcast','rain'],[1,0,-1])
data['Humidity']=data['Humidity'].replace(['high','normal'],[1,0])
data['wind']=data['wind'].replace(['strong','weak'],[1,0])
data['played football(yes/no)']=data['played football(yes/no)'].replace(['yes','no'],[1,0])

In [71]:
data.head()

   outlook  Temperature  Humidity  wind  played football(yes/no)
0        1            1         1     0                        0
1        1            1         1     1                        0
2        0            1         1     0                        1
3       -1            0         1     0                        1
4       -1           -1         0     0                        1

In [72]:
X = data[['outlook','Temperature','Humidity','wind']].copy()
Y = data[['played football(yes/no)']].copy()

In [73]:
X.head()

   outlook  Temperature  Humidity  wind
0        1            1         1     0
1        1            1         1     1
2        0            1         1     0
3       -1            0         1     0
4       -1           -1         0     0

In [74]:
Y.head()

   played football(yes/no)
0                        0
1                        0
2                        1
3                        1
4                        1

In [75]:
model = DecisionTreeClassifier(max_leaf_nodes=42, random_state=0)
model.fit(X, Y)

DecisionTreeClassifier(max_leaf_nodes=10, random_state=0)

In [78]:
#outlook, temperature, humadity, wind 
model.predict([[1,1,1,0]])

array([1])